#calculator-title{
    display: flex;
    justify-content: center;

    
}
#buttons {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10%;
    background-color: #191b28;
    height: auto;
    width: 650px;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}
#calc-button-number {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    padding: 50px;
    border-radius: 50%;
    border-color: rgb(51, 110, 162);
    text-align: center;
    font-size:x-large;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.equals {
    display: flex;
    text-align: justify;
    flex-grow: .5;
}
